@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default body styles */
body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #3A3A3A;
  margin: 0px;
}